
<div class="row clearfix {{vm.myclass}}" ng-controller="app.views.AssetTypeLinkstar as vm" style="height:100%;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:100%;">
        <input id="vedioHost" type="hidden" name="Name1" ng-model="vm.vedioHost">
        <input id="linkstarHost" type="hidden" name="Name2" ng-model="vm.linkstarHost">
        <div class="card" style="height: 100%;">
            <div id="cardContent" style="height:100%;">
            </div>
        </div>
    </div>
</div>
