<link href="/Plan/plan.css" rel="stylesheet" />
<script src="/assets/plugins/libs/quick-nav/quick-nav.js"></script>
<script src="/assets/js/Common.js"></script>

<div class="row clearfix {{vm.myclass}}" ng-controller="app.views.templatedemo as vm" style="height:100%;">

    <div class="col-xs-12" style="height:100%;">
        <div class="portlet light bordered portlet-light-bordered-box" style="height:100%;width:100%;margin-bottom:0;overflow:hidden;">

            <div class="portlet-title portlet-custom-title text-center" style="border-bottom: 1px solid rgba(1, 172, 252, 1);">
                <span>{{vm.PlanName}}</span>
                <!--@*<div class="actions" style="float:left;">
                    <a href="#" class="btn btn-circle portlet-custom-btn-download">
                        <span>预案<br />下载</span>
                    </a>

                    <div class="page-actions">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <span class="hidden-sm hidden-xs">目录&nbsp;</span>
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="(key, val) in list">
                                    <a href="javascript:;" ng-click="vm.click(key)">
                                        {{val.sectionName}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>*@-->
                <ul class="demo-menu" role="menu">
                    <li style="font-size:18px;">目录</li>
                    <li ng-repeat="(key, val) in list">
                        <a href="javascript:;" ng-click="vm.click(key)">
                            {{val.name}}
                        </a>
                    </li>
                </ul>
            </div>

            <div id="planScroller" class="scroller" style="height: 707px;margin-top: 18px;padding-left:250px;" data-always-visible="1" data-rail-visible="0">
                <div class="portlet-body pre-timeline pre-box" style="padding-top:0px;">
                    <div class="scorllercontent" ng-repeat="(key, val) in list">
                        <button type="button" class="btn btn-circle btn-default btnNum activing" ng-click="vm.click(key)">

                            <span class="num" style="{{key>8?'margin-left:-5px':''}}" id="div{{key+1}}">{{key+1}}</span>
                        </button>
                        <div class="pre-content">
                            <div class="pre-title">
                                <span class="title-arrow"></span>
                                <span class="title-content">{{val.name}}</span>
                            </div>
                            <div class="content-clear"></div>
                            <div ng-bind-html="val.content|to_trusted"></div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>