<style type="text/css">
    .chose-hide {
        position: absolute !important;
        top: -999em !important;
    }

    .chose-container {
        border: none !important;
        float: left;
        margin-right: 40px;
        padding: 0 !important;
        position: relative;
    }

        .chose-container .chose-single {
            padding: 6px 12px;
            color: #333;
            width: 100%;
            border: 1px solid #eee;
            display: inline-block;
            height: 30px;
        }

            .chose-container .chose-single::after {
                content: '';
                position: absolute;
                border-width: 6px 3px;
                border-style: solid;
                /* border-top-color: transparent; */
                border-left-color: transparent;
                border-right-color: transparent;
                border-bottom-color: transparent;
                right: 8px;
                top: 12px;
            }

            .chose-container .chose-single i {
                width: 12px;
                float: right;
                right: 8px;
                font-size: 12px;
                height: 12px;
                background-color: #eee;
            }

        .chose-container .chose-drop {
            width: 100%;
            position: absolute;
            border: 1px solid #eee;
            z-index: 1000;
            background-color: #fff;
        }

        .chose-container .chose-search input[type='text'] {
            margin: 0;
            padding-left: 12px;
            width: 100%;
            height: 30px;
            border: 1px solid #ccc;
            float: none;
        }

        .chose-container .chose-result {
            max-height: 370px;
            overflow-y: scroll;
            overflow-x: hidden;
        }

            .chose-container .chose-result li {
                padding: 5px 12px;
                list-style-type: none;
            }

                .chose-container .chose-result li:hover {
                    background-color: #e1e2e7;
                }
</style>
<div class="{{vm.myclass}}" novalidate>
    <form name="exampleForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.areainfo.id">修改: {{vm.areainfo.displayName}}</span>
                <span ng-if="!vm.areainfo.id">新增区域信息</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input auto-focus class="form-control" type="text" name="DisplayName" ng-class="{'edited':vm.areainfo.displayName}" ng-model="vm.areainfo.displayName" required>
                <label>名称</label>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input auto-focus class="form-control" type="text" name="DisplayName" ng-class="{'edited':vm.areainfo.shortName}" ng-model="vm.areainfo.shortName" required>
                <label>简称</label>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input auto-focus class="form-control" type="text" name="ShowCode" ng-change="vm.codechanged()" ng-class="{'edited':vm.areainfo.showCode}" ng-disabled="vm.hasChild" ng-model="vm.areainfo.showCode" required>
                <label>编码</label>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <select class="form-control edited" ng-model="vm.unit" required
                        ng-options="ut.id as ut.displayName for ut in vm.units">
                    <option value="">---请选择---</option>
                </select>
                <label style="top:0px;">所属机构</label>
                <!--@*<select ngc-select-search class="common-select form-control" ng-model="vm.unit"
                        ng-options="ut.id as ut.displayName for ut in vm.units" required name="country">
                    <option value="">请选择</option>
                </select>*@-->

            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <!--<input auto-focus class="form-control" type="text" name="DisplayName" ng-class="{'edited':vm.areainfo.level}" ng-model="vm.areainfo.level" required>-->
                <select class="form-control select2-container edited" ng-model="vm.areainfo.level" ng-options="area.id as area.type for area in vm.areaLevel"></select>
                <label>区域等级</label>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <select id="areatype" class="form-control select2-container edited" ng-disabled="vm.isCanEditAreaType" ng-model="vm.areainfo.areaType" ng-options="area.id as area.type for area in vm.areaTypes"></select>

                <label>区域类型</label>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">取消</button>
            <button type="submit" button-busy="vm.saving" busy-text="保存中..." class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="exampleForm.$invalid"><span>保存</span></button>
        </div>
    </form>
</div>