<!-- DataTables -->
<link href="/assets/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />

<link rel="stylesheet" href="/assets/css/KeyArea/keyArea.css">
<link rel="stylesheet" href="\assets\plugins\fonts\iconfont.css">
<!-- DataTables -->
<script src="/assets/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/assets/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<script src="/assets/js/Common.js"></script>
<div class="row clearfix {{vm.myclass}}" ng-controller="app.views.BasicData.KeyArea as vm" style="height:100%;">
    <div class="col-xs-12" style="height:100%;">
        <div class="portlet light bordered" style="height:100%;">
            <div class="portlet-title" id="portlet-title">
                <div class="caption btn btn-md blue">
                    <span class="caption-subject sbold">
                        重点区域
                    </span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="col-xs-6" style="margin-left: -20px;">
                    <!--园区筛选下拉框-->
                    <div class="text-left" id="filterContainer">
                        <div class="btn-group" style="margin-left:5px;margin-bottom:10px;" ng-repeat="area in vm.areas">
                            <button id="lv_{{area.level}}" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{area.btnName}}<i class="fa fa-angle-down"></i></button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="child in area.childAreas"><a ng-click="vm.LoadArea(child.id,child.nextlevel,true,child.displayName)">{{child.displayName}}</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a ng-click="vm.LoadArea(area.pid,area.level,false,area.levelName)">{{area.levelName}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--<div class="choose">
                        <span class="all">全部</span>
                        <button class="cancel" ng-click=""><span>取消指定</span></button>
                        <button class="specified" ng-click=""><span>指定为重点场所</span></button>
                    </div>-->
                </div>
                <div class="col-xs-6 text-right">
                    <form class="form-inline" enter-key="vm.search(false)">
                        <div class="form-group" style="padding-right:10px;">
                            <div class="input-icon">
                                <i class="fa fa-search"></i>
                                <input type="text" class="form-control" id="form-control" ng-model="vm.serchinfo" ng-keyup="enterEvent($event)" placeholder="请输入...">
                            </div>
                        </div>
                        <div class="form-group" style="margin-right: -30px">
                            <!--<button class="btn blue" type="button" id="btnSearch" ng-click="vm.search(false)">搜索</button>
                            <button class="btn blue" type="button" id="btnReset" ng-click="vm.reset()">重置</button>-->
                            <i id="btnReset"  style="background-color:#fff;font-size:20px;border:none;letter-spacing: .5em;" class="iconfont icon-zhongzhi" title="重置" ng-click="vm.reset()"></i>
                            <button id="btnAdd" ng-click="vm.reset()"><span class="iconfont icon-tianjia"style="color: darkgray;margin-right:-5px; font-size:20px"></span></button>

                        </div>
                    </form>
                </div>
            </div>

            <div class="portlet-body" style="padding-top:0px;">
                <table id="tb_data"></table>
            </div>
        </div>
    </div>
</div>
