<div>
    <form name="editTenantFeaturesForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>特性参数列表 - {{vm.tenant.name}}</span>
            </h4>
        </div>
        <div class="modal-body">
            <feature-tree edit-data="vm.featureEditData"></feature-tree>
        </div>
        <div class="modal-footer">
            <button type="button" ng-disabled="vm.saving" button-busy="vm.resettingFeatures" busy-text="保存中..." class="btn btn-default pull-left" ng-click="vm.resetFeatures()" uib-popover="重置租户指定的特性参数设置并且保存.当前租户只会拥有已注册版本的特性参数." popover-trigger="'mouseenter'" popover-placement="top"><span>重置特殊的特性参数</span></button>
            <button type="button" ng-disabled="vm.saving || vm.resettingFeatures" class="btn btn-default" ng-click="vm.cancel()">取消</button>
            <button type="submit" ng-disabled="vm.resettingFeatures" button-busy="vm.saving" busy-text="保存中..." class="btn btn-primary blue" ng-click="vm.save()"><i class="fa fa-save"></i> <span>保存</span></button>
        </div>
    </form>
</div>