<!-- DataTables -->
<link href="/assets/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/assets/plugins/fonts/iconfont.css">
<link rel="stylesheet" href="/App/Main/views/riskProfile/DistrictSet.css">
<!-- DataTables -->
<script src="/assets/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/assets/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<script src="/assets/js/Common.js"></script>
<div class="row clearfix {{vm.myclass}}" ng-controller="app.views.districtset as vm" style="height:100%;">
    <div class="col-xs-12" style="height:100%;">
        <div class="portlet light bordered" style="height:100%;overflow-x:auto;">
            <div class="pd20 clearfix">
               <div class="portlet-title pull-left">
                <div class="caption btn blue">
                    <span class="caption-subject sbold">
                        评测区域权重
                    </span>
                </div>
            </div>
            <div class="portlet-body pull-right">
                
                <div class="text-right">
                    <form class="form-inline" enter-key="vm.search(false)">
                        <div class="form-group" style="padding-right:10px;">
                            <div class="input-icon">
                                <i class="fa fa-search"></i>
                                <input type="text" class="form-control input-middle" ng-model="vm.serchinfo" placeholder="请输入...">
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- <button class="btn blue hide" type="button" ng-click="vm.search(false)">搜索</button> -->
                            <!-- <button class="btn blue" type="button" ng-click="vm.reset()">重置</button> -->
                            <i class="iconfont icon-zhongzhi" ng-click="vm.reset()"></i>
                        </div>
                    </form>
                </div>
            </div> 
            </div>
            

            <div class="portlet-body" style="width:100%;">
                <table id="tb_district"></table>
            </div>
        </div>
    </div>
</div>