
<!--安全评估-->
<link rel="stylesheet" href="/assets/plugins/radialindicator/radialindicator.css">

<!--安全评估-->
<script src="/assets/plugins/radialindicator/radialindicator.js"></script>
<script src="/assets/js/jquery.json.js"></script>
<script src="/assets/js/Common.js"></script>

<div class="{{vm.myclass}}" ng-controller="app.views.districtchecked as vm" style="height:100%;">

    <div class="portlet light bordered" style="height:100%;overflow-y:auto;overflow-x:hidden;">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject sbold">
                    {{vm.title}}
                </span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-2 text-right">
                    <div class="prg-cont rad-prg" id="prgTotal"></div>
                    <!-- /.box -->
                </div>

                <div class="col-md-6" style="line-height: 205px;">
                    <div class="header" id="checkList">
                        <h4>准备就绪:&nbsp;&nbsp;<small></small></h4>
                    </div>
                    <div class="header">
                        <h2 id="ResultScore">
                            <i class="fa fa-star" style="color: rgba(1, 172, 252, 1)"></i>
                            <i class="fa fa-star" style="color: rgba(1, 172, 252, 1)"></i>
                            <i class="fa fa-star" style="color: rgba(1, 172, 252, 1)"></i>
                            <i class="fa fa-star" style="color: rgba(1, 172, 252, 1)"></i>
                            <i class="fa fa-star" style="color: rgba(1, 172, 252, 1)"></i>
                        </h2>
                    </div>
                </div>
                <div class="col-md-4 text-center" style="line-height: 205px;">
                    <div class="btn-group-vertical">
                        <button type="button" class="btn blue waves-effect vertical-center btn-circle" style="height:50px;width:200px;font-size:20px;" ng-disabled="vm.IsRun" ng-click="vm.Run()">重新评估</button>
                    </div>
                </div>
            </div>

            <div class="row" id="progRow">
                <div class="col-md-12">
                    <div class="panel-title progress progress-striped active" style="height:28px;">
                        <div id="prog" class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
                            <span id="proglabel">正在启动，请稍后......</span>
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                    <div class="panel-body" id="ItemList">

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>