

    .layout h2 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        margin: 1rem auto;
        font-family: MicrosoftYaHei;
        font-size: 26px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 48px;
        letter-spacing: 2px;
        color: #fefefe;
    }

main {  
    display: flex;           
}

.aside {
    width: 22%;
    height: 100%;
    margin-right: 10px;
    margin-bottom:15px;
    border: solid 2px #02a4fd;
    box-sizing: border-box;
    box-shadow: 0px 0px 38px #02a4fd inset
}

    .aside ul {
        height: 48%;
        width: 100%;
    }

        .aside ul li {
            height: 60px;
            width: 100%;
        }

            .aside ul li p {
                margin: 15px 0 5px 0;
                padding-left: 20px;
                height: 20px;
                font-family: MicrosoftYaHei;
                font-size: 22px;
                font-weight: normal;
                font-stretch: normal;
                line-height: 20px;
                letter-spacing: 2px;
                color: #999999;
            }

            .aside ul li div {
                text-align: center;
                font-family: MicrosoftYaHei;
                font-size: 24px;
                font-weight: normal;
                font-stretch: normal;
                line-height: 40px;
                letter-spacing: 2px;
                color: #fefefe;
                height: 40px;
                width: 100%;
                background: linear-gradient(to right, transparent 0%, #02a4fd 50%,transparent 100% );
            }
.normalbox .contentbox {
    
}

.smallbox .contentbox {
    height: 100%;
}

.aside .contentbox p {
    margin: 15px 0 5px 15px;
    font-family: MicrosoftYaHei;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 20px;
    letter-spacing: 2px;
    color: #999999;
}

        .aside .contentbox div {
            text-align: center;
            font-family: MicrosoftYaHei;
            font-size: 24px;
            font-weight: normal;
            font-stretch: normal;
            line-height: 40px;
            letter-spacing: 2px;
            color: #fefefe;
            width: 100%;
            background: linear-gradient(to right, transparent 0%, #02a4fd 50%,transparent 100% );
        }
.normalbox {
    width: 100%;
    height: 21%;
    margin-bottom: 10px;
}
.smallbox {
    width: 100%;
    height: 10%;
} 
    
    .lines {
        width: 100%;
        height: 100%;
    }

        .lines > div {
            display: inline-block;
            box-shadow: 0px 0px 38px #02a4fd inset;
            margin-bottom: 10px;
        }

.mixLines {
    width: 99.9%;
    height: 32.20%;
    border: 1px solid #02a4fd;
    overflow: hidden;
}

    .mixLines .select {
        float: left;
        width: 22.22%;
        height: 100%;
    }

        .mixLines .select div {
            position: relative;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            top: 35%;
        }

        .mixLines .select p {
            width: 130px;
            height: 32px;
            background-color: #02a4fd;
            border-radius: 0px 0px 12px 0px;
            color: #fefdfd;
            font-family: MicrosoftYaHei;
            font-size: 18px;
            text-align: center;
            line-height: 32px;
        }

        .mixLines .select div select {
            text-align: center;
            width: auto;
            padding: 0 10%;
            height: 31px;
            background-color: #09202e;
            border-radius: 10px;
            border: solid 1px #ffff00;
            display: block;
            margin: 2% auto;
            font-family: MicrosoftYaHei;
            font-size: 14px;
            font-weight: normal;
            /*line-height: 48px;*/
            letter-spacing: 1px;
            color: #fcfcfc;
        }

#mix {
    float: left;
    width: 66.67%;
    height: 100%;
}

.mixLines .change {
    float: right;
    width: 8.33%;
    height: 100%;
}

.change div {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.btns {
    background-color: transparent;
    border: 0;
    width: 100%;
    border: 1px solid #02a4fd;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 28px;
    margin: 4px 0;
    letter-spacing: 1px;
    color: #fffefe;
    border-radius: 10px 0 0 10px;
    box-shadow: 0px 0px 10px #02a4fd inset;
}

.active {
    border: 1px solid #ffff00;
    box-shadow: 0px 0px 10px #ffff00 inset;
}
