<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".myapp" mimeType="application/x-msdownload" />
            <mimeMap fileExtension=".htm3" mimeType="text/html" />
            <mimeMap fileExtension=".image" mimeType="image/png" />
            <mimeMap fileExtension=".fmap" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".theme" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".fmi" mimeType="application/octet-stream" />
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".dae" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
