<script src="/assets/js/Common.js"></script>
<link href="/assets/js/datepicker/datepicker3.css" rel="stylesheet" />
<script src="/assets/js/datepicker/bootstrap-datepicker.js"></script>
<script src="/assets/js/datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>
<style>
    input:read-only {
        background-color: white !important;
    }
</style>
<div class="row clearfix {{vm.myclass}}" ng-controller="app.views.hiddenTrouble.addHiddenTrouble as vm" style="height:100%;">
    <div class="col-xs-12" style="height:100%;">
        <div class="portlet light bordered" id="form_wizard_1" style="height:100%;overflow-y:auto;overflow-x:hidden;">
            <div class="portlet-title">
                <div class="caption">
                    <!--@*<i class=" icon-layers font-green"></i>*@-->
                    <span class="caption-subject sbold">隐患上报</span>
                </div>
                <!--@*<div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-cloud-upload"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-wrench"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-trash"></i>
                    </a>
                </div>*@-->
            </div>
            <div class="portlet-body">
                <form name="addorlookhiddentrouble" role="form" novalidate class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-2">隐患场所</label>
                            <div class="col-md-4">
                                <select class="validate form-control edited" required ng-disabled="vm.islook" ng-model="vm.risk.AreaID" ng-change="vm.areaChanged()" ng-options="area.id as area.areaName for area in  vm.areas">
                                    <option value="">---请选择---</option>
                                </select>
                            </div>
                            <label class="control-label col-md-1">上报人</label>
                            <div class="col-md-4">
                                <select class="validate form-control edited" ng-disabled="true" ng-model="vm.risk.ReportUserId" ng-options="user.id as user.userName for user in  vm.users"></select>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-2">隐患负责人</label>
                            <div class="col-md-4">
                                <input auto-focus type="text" ng-class="{'edited':vm.risk.ChargeUserName}" ng-disabled="true" ng-model="vm.risk.ChargeUserName" required maxlength="32" class="validate form-control">
                            </div>
                            <label class="control-label col-md-1">隐患级别</label>
                            <div class="col-md-4">
                                <select class="validate form-control edited" ng-disabled="vm.islook" ng-model="vm.risk.HiddenTroubleType" ng-options="type.id as type.type for type in  vm.troubleType"></select>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-2">隐患发现时间</label>
                            <div class="col-md-4 date">
                                <input type="text" id="dt_start" class="form-control pull-right mydate" readonly  ng-model="vm.risk.HiddenTroubleFindTime" required>
                            </div>
                            <label class="control-label col-md-1">整改类型</label>
                            <div class="col-md-4">
                                <select auto-focus class="validate form-control edited" ng-disabled="vm.islook" ng-change="vm.rectifyChange()" ng-model="vm.risk.RectifyTroubleType" ng-options="type.id as type.type for type in  vm.rectifyType"></select>
                            </div>
                        </div>
                        <div class="form-group " id="recendtime">
                            <label class="control-label col-md-2">整改期限</label>
                            <div class="col-md-4 date">
                                <input type="text" id="dt_end" class="form-control pull-right mydate" readonly  ng-model="vm.risk.RectifyEndTime" required>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-2">隐患描述</label>
                            <div class="col-md-9">
                                <textarea rows="3" cols="100" ng-disabled="vm.islook" required ng-model="vm.risk.HiddenTroubleContent" class="validate form-control" />
                            </div>

                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-2">整改要求</label>
                            <div class="col-md-9">
                                <textarea rows="3" cols="100" ng-disabled="vm.islook" ng-model="vm.risk.RectifyClaim" class="validate form-control" />
                            </div>
                        </div>
                        <div class="form-group " ng-if="vm.islook!=true">
                            <label class="control-label col-md-2">上传附件</label>
                            <div class="col-md-4">
                                <input type="file" name="image" id="txt_file" multiple accept="image/gif,image/jpeg,image/jpg,image/png,image/bmp"/>
                            </div>
                        </div>
                        <div class="form-group " ng-if="vm.islook==true">
                            <label class="control-label col-md-2">上报附件</label>
                            <div class="col-md-4">
                                <ul>
                                    <li ng-repeat="sb in vm.sbfjs"><a href="File/DownLoadFile/?FileName={{sb.url}}" target="_Blank"><span>{{sb.filename}}</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <h3 class="form-section" ng-if="vm.zgvisible==1">整改详情</h3>
                        <div class="form-group " ng-if="vm.zgvisible==1">
                            <label class="control-label col-md-2">整改人</label>
                            <div class="col-md-4">
                                <select class="validate form-control edited" ng-disabled="vm.islook" ng-model="vm.risk.RectifyUserId" ng-options="user.id as user.userName for user in  vm.users"></select>
                            </div>
                            <label class="control-label col-md-1">整改时间</label>
                            <div class="col-md-4">
                                <input auto-focus type="date" ng-disabled="true" ng-model="vm.risk.RectifyTime" required maxlength="32" class="validate form-control">
                            </div>
                        </div>
                        <div class="form-group " ng-if="vm.zgvisible==1">
                            <label class="control-label col-md-2">整改描述</label>
                            <div class="col-md-9">
                                <textarea rows="3" cols="100" ng-disabled="vm.islook" ng-model="vm.risk.RectifyContent" required class="validate form-control" />
                            </div>
                        </div>
                        <div class="form-group " ng-if="vm.zgvisible==1">
                            <label class="control-label col-md-2">整改附件</label>
                            <div class="col-md-4">
                                <ul>
                                    <li ng-repeat="zg in vm.zgfjs"><a href="File/DownLoadFile/?FileName={{zg.url}}" target="_Blank"><span>{{zg.filename}}</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <h3 class="form-section" ng-if="vm.fcvisible==1">复查详情</h3>
                        <div class="form-group " ng-if="vm.fcvisible==1">
                            <label class="control-label col-md-2">复查人</label>
                            <div class="col-md-4">
                                <select auto-focus class="validate form-control edited" ng-disabled="vm.islook" ng-model="vm.risk.ReviewUserId" ng-options="user.id as user.userName for user in  vm.users"></select>
                            </div>
                            <label class="control-label col-md-1">复查时间</label>
                            <div class="col-md-4">
                                <input auto-focus type="date" ng-disabled="true" ng-model="vm.risk.ReviewTime" required maxlength="32" class="validate form-control">
                            </div>
                        </div>
                        <div class="form-group " ng-if="vm.fcvisible==1">
                            <label class="control-label col-md-2">复查描述</label>
                            <div class="col-md-9">
                                <textarea rows="3" cols="100" ng-disabled="vm.islook" ng-model="vm.risk.ReviewContent" required class="validate form-control" />
                            </div>
                        </div>
                        <div class="form-group " ng-if="vm.fcvisible==1">
                            <label class="control-label col-md-2">复查附件</label>
                            <div class="col-md-4">
                                <ul>
                                    <li ng-repeat="fj in vm.fcfjs"><a href="File/DownLoadFile/?FileName={{fj.url}}" target="_Blank"><span>{{fj.filename}}</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions" ng-if="vm.islook!=true">

                        <div class="row">
                            <div class="col-md-offset-5 col-md-7">
                                <!--@*<button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
                                    返回
                                </button>*@-->
                                <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()">
                                    保存
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions" ng-if="vm.islook==true">
                        <div class="row">
                            <div class="col-md-offset-5 col-md-7">
                                <button type="button" class="btn btn-primary waves-effect" ng-click="vm.cancel()">
                                    返回
                                </button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
