<script src="/assets/js/Common.js"></script>
<link href="/assets/js/datepicker/datepicker3.css" rel="stylesheet" />
<script src="/assets/js/datepicker/bootstrap-datepicker.js"></script>
<script src="/assets/js/datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>
<style>
	input:read-only {
		background-color: white !important;
	}
	
	.myimglist {
		width: 2000px;
		overflow: hidden;
		white-space:nowrap;
	}
	
	.myimglist li {
		list-style: none;
		float: left; 
		margin-left: 10px;
		width: 100px;
		height: 125px;
	}
	
	.myimglist img {
		width: 100%;
		height: 80%;
	}
</style>
<div class="row clearfix {{vm.myclass}}" ng-controller="app.views.hiddenTrouble.AssignPerson as vm">
	<div class="col-md-12">
		<div class="portlet light bordered" id="form_wizard_1">
			<div class="portlet-title">
				<div class="caption">
					<!--@*<i class=" icon-layers font-green"></i>*@-->
					<span class="caption-subject sbold">隐患指派</span>
				</div>
			</div>
			<div class="portlet-body">
				<form name="addorlookhiddentrouble" role="form" validate class="form-horizontal">
					<div class="form-body">
						<div class="form-group ">
							<label class="control-label col-md-2">指定整改人</label>
							<div class="col-md-4">
								<select class="validate form-control edited" ng-model="vm.tb.ExecuteUserId" ng-options="user.id as user.userName for user in  vm.cusers"></select>
							</div>
							<label class="control-label col-md-1">指定复查人</label>
							<div class="col-md-4" ng-if="vm.risk.IsPass==0">
								<select class="validate form-control edited" ng-model="vm.tb.ReviewUserId" ng-options="user.id as user.userName for user in  vm.cusers"></select>
							</div>
						</div>
						<h3 class="form-section">隐患详情</h3>
						<div class="form-group">
							<label class="control-label col-md-2">隐患场所</label>
							<div class="col-md-4">
								<select class="validate form-control edited" ng-disabled="true" ng-model="vm.risk.AreaID" ng-change="vm.areaChanged()" ng-options="area.id as area.areaName for area in  vm.areas"></select>
							</div>
							<label class="control-label col-md-1">上报人</label>
							<div class="col-md-4">
								<select class="validate form-control edited" ng-disabled="true" ng-model="vm.risk.ReportUserId" ng-options="user.id as user.userName for user in  vm.users"></select>
							</div>
						</div>
						<div class="form-group ">
							<label class="control-label col-md-2">隐患负责人</label>
							<div class="col-md-4">
								<input auto-focus type="text" ng-model="vm.risk.ChargeUserName" ng-disabled="true" required maxlength="32" class="validate form-control">
							</div>
							<label class="control-label col-md-1">隐患级别</label>
							<div class="col-md-4">
								<select class="validate form-control edited" ng-disabled="true" ng-model="vm.risk.HiddenTroubleType" ng-options="type.id as type.type for type in  vm.troubleType"></select>
							</div>
						</div>
						<div class="form-group ">
							<label class="control-label col-md-2">隐患发现时间</label>
							<div class="col-md-4 date">
								<input type="text" id="dt_start" class="form-control pull-right mydate" ng-disabled="true" ng-model="vm.risk.HiddenTroubleFindTime" required>
							</div>
							<label class="control-label col-md-1">整改类型</label>
							<div class="col-md-4">
								<select auto-focus class="validate form-control edited" ng-disabled="true" ng-change="vm.rectifyChange()" ng-model="vm.risk.RectifyTroubleType" ng-options="type.id as type.type for type in  vm.rectifyType"></select>
							</div>
						</div>
						<div class="form-group " id="recendtime">
							<label class="control-label col-md-2">整改期限</label>
							<div class="col-md-4 date">
								<input type="text" id="dt_end" class="form-control pull-right mydate" readonly ng-disabled="true" ng-model="vm.risk.RectifyEndTime" required>
							</div>
						</div>
						<div class="form-group ">
							<label class="control-label col-md-2">隐患描述</label>
							<div class="col-md-9">
								<textarea rows="3" cols="100" ng-model="vm.risk.HiddenTroubleContent" ng-disabled="true" required class="validate form-control" />
							</div>

						</div>
						<div class="form-group ">
							<label class="control-label col-md-2">整改要求</label>
							<div class="col-md-9">
								<textarea rows="3" cols="100" ng-model="vm.risk.RectifyClaim" ng-disabled="true" required class="validate form-control" />
							</div>
						</div>
						<div class="form-group ">
							<label class="control-label col-md-2" ng-if="vm.risk.ReportFileInfo.length>0">上报附件</label>
							<div class="col-md-4">
								<ul class="myimglist">
									<li ng-repeat="sb in vm.risk.ReportFileInfo">
										<img src="{{sb.url}} " ng-click="vm.clickimg(sb.url)" />
										<div class="col-xs-12">
											<a class="col-xs-12" href="{{vm.abpPath}}File/DownLoadFile/?FileName={{sb.url}}" target="_Blank"><span>下载</span></a>
										</div>
									</li>
								</ul>
							</div>
						</div>
							<h3 class="form-section">审核详情</h3>
						<div class="form-group ">
							<label class="control-label col-md-2">审核人</label>
							<div class="col-md-4">
								<select class="validate form-control edited" ng-disabled="true" ng-model="vm.risk.AuditUserId" ng-options="user.id as user.userName for user in  vm.users"></select>
							</div>
							<label class="control-label col-md-1">审核时间</label>
							<div class="col-md-4">
								<input auto-focus type="date" ng-disabled="true" ng-model="vm.risk.AuditTime" required maxlength="32" class="validate form-control">
							</div>
						</div>
						<div class="form-group ">
							<label class="control-label col-md-2">审核</label>
							<div class="col-md-4" style="margin-top:8px;">
								<input class="validate form-control" ng-disabled="true" type="text" value="通过">
							</div>
							<!--<label class="control-label col-md-1">指定整改人</label>
							<div class="col-md-4">
								<input class="validate form-control" ng-disabled="true" type="text" ng-model="vm.Trouble.ExecuteUserName">
							</div>-->
						</div>
						<div class="form-group ">
							<label class="control-label col-md-2">审核意见</label>
							<div class="col-md-9">
								<textarea rows="3" cols="100" ng-disabled="true" ng-model="vm.risk.AuditContent" required class="validate form-control" />
							</div>
						</div>
					</div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-5 col-md-7">
								<button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
                                    返回
                                </button>
								<button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()">
                                    保存
                                </button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>