<div class="{{vm.myclass}}" novalidate>
    <form name="exampleForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>处警</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <div class="md-checkbox">
                    <input id="cbxIsFalseReport" class="md-check ng-pristine ng-untouched ng-valid ng-empty" type="checkbox" >
                    <label for="cbxIsFalseReport">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        是否误报
                    </label>
                </div>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input auto-focus class="form-control" type="text" name="DisplayName" ng-model="vm.AuditMessage" required>
                <label>处理方式</label>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">取消</button>
            <button type="submit" button-busy="vm.saving" busy-text="保存中..." class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="exampleForm.$invalid"><i class="fa fa-save"></i> <span>保存</span></button>
        </div>
    </form>
</div>