<div class="{{vm.myclass}}" novalidate>
    <form name="exampleForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>处理记录</span>
            </h4>
        </div>
        <div class="modal-body" id="logContainer">

        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn blue" ng-click="vm.cancel()">关闭</button>
        </div>
    </form>
</div>