<div ng-controller="common.views.roles.index as vm" style="height:100%;">
    <div class="portlet light margin-bottom-0" style="height:100%;">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject sbold">
                    <span>角色管理</span>
                </span>
            </div>
            <div class="actions">
                <div class="btn-group">
                    <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createRole()"><i class="fa fa-plus"></i> 添加角色</button>
                </div>
            </div>
        </div>


        <div class="portlet-body">
            <div class="form">
                <form class="horizontal-form">
                    <div class="form-inline" enter-key="vm.getRoles()">
                        <div class="col-xs-12 text-right margin-bottom-10">

                            <div class="form-group" style="padding-right:10px;">
                                <div class="input-icon">
                                    <i class="fa fa-search"></i>
                                    <input type="text" class="form-control input-xlarge" ng-model="vm.filterText" placeholder="请输入...">
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn blue" type="button" ng-click="vm.getRoles()">搜索</button>
                                <button class="btn blue" type="button" ng-click="vm.reset()">重置</button>
                            </div>

                        </div>

                    </div>

                    <div class="row margin-bottom-5">

                    </div>
                </form>
            </div>
            <div busy-if="vm.loading">
                <div ui-grid="vm.roleGridOptions" ui-grid-resize-columns ></div>
            </div>
        </div>
    </div>
</div>
<style>
    .ui-grid-pager-control-input {
        width: 100px !important;
    }

    .ui-grid-pager-max-pages-number {
        display: none;
    }

    .ui-grid-pager-max-pages-number abbr {
        display: none;
    }

    .ui-grid-pager-count {
        display: none;
    }

    .ui-grid-pager-count abbr {
        display: none;
    }
</style>