
#btnReset{
    border: none !important;
    background: #fff !important;
    margin-right: -20px
}

input.form-control{
    /* width: 165px !important;
	height: 30px; */
	border-radius: 13px;
    /* border: solid 1px #e7ecf1; */
    border: 1px solid #c2cad8;
    
}

.portlet-title{
    border: none !important;
    /* display: none; */
}

.portlet.light > .portlet-title > .caption.btn.blue{
    background-color: #3598DC;
    padding:8px 14px 7px 14px;
    box-shadow: none;
    margin-top: 15px;
    margin-bottom: 3px;
   
}
.portlet.light > .portlet-title > .caption.btn.blue:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.26);
    background-color: #337AB7;
}

.portlet-title>.caption.btn.blue>.caption-subject{
    color: #fff;
    font-size: 12px;
}

.form-group button:first-child{
    display: none
}
#writePlan{
    background-color:#FFA71D;
    padding:5px 18px 5px 18px;
    box-shadow:none;color:#fff;
    border-radius: 5px;
}
