<nav class="navbar-footer">
    <div class="legal">
        <div class="block" style="height: 25px;">
            <div class="centered">
                <div class="footLink" style="margin-left: 20px;margin-top: 5px;color: #666666;">
                    <a href="http://www.chinasafety.gov.cn" target="_blank">&nbsp;&nbsp;国家安全生产监督管理总局&nbsp;&nbsp;</a>
                    <a href="http://www.cccf.com.cn/getIndex.do" target="_blank">&nbsp;&nbsp;中国消防产品信息网&nbsp;&nbsp;</a>
                    <a href="http://119.china.com.cn/" target="_blank">&nbsp;&nbsp;中国消防网&nbsp;&nbsp;</a>
                </div>
                <div class="footLink" style="margin-top: 3px;margin-right: 10px;">
                    {{vm.getProductNameWithEdition()}} v 0.5.0.0 [{{vm.str}}]
                </div>
            </div>

        </div>
        <div class="copyright" style="  height: 40px; ">
            <div class="footLink" style="float: left; color: #ffffff; margin-left: 20px; margin-top: 5px; display: none;">
                <a href="http://www.chinasafety.gov.cn" target="_blank"><img style="width: 32px;" src="/assets/images/foot_logo2.png" />&nbsp;&nbsp;国家安全生产监督管理总局&nbsp;&nbsp;</a>
                <a href="http://www.cccf.com.cn/getIndex.do" target="_blank"><img style="width: 32px;" src="/assets/images/foot_logo3.gif" />&nbsp;&nbsp;中国消防产品信息网&nbsp;&nbsp;</a>
                <a href="http://119.china.com.cn/" target="_blank"><img style="width: 32px;" src="/assets/images/foot_logo1.png" />&nbsp;&nbsp;中国消防网&nbsp;&nbsp;</a>
            </div>

        </div>
        <div class="version">

        </div>
    </div>
</nav>
<div class="page-footer-inner" style="display: none;">
    <span class="text-muted">
        <small>
            {{vm.getProductNameWithEdition()}} <br />
            v0.5.0.0 [{{vm.str}}]
        </small>
    </span>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>
<div id="alarmeventbodyHtml"></div>
<div class="portlet-body footcommoninfo" style="display: none;">
    <div class="alert alert-block alert-warning fade in" style="margin-bottom: 0px;">
        <button type="button" class="close" data-dismiss="alert"></button>
        <h4 class="alert-heading">故障警告!</h4>
        <p> 啊啊啊 </p>
        <p>
            <a class="btn red" href="javascript:;">查看</a>
            <a class="btn blue"  data-dismiss="alert"> 取消 </a>
        </p>
    </div>
</div>